@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/ofont.ru_Bebas\ Neue.ttf);
}
@font-face {
    font-family: 'ALS Klementina';
    src: url(../fonts/ALS_Klementina.ttf);
}
:root {
    --effect: hover 1s linear infinite;
  }
html {
    scroll-behavior: smooth;
}
* {
    font-family: 'Manrope', sans-serif;
}
body {
    background-color: #000000;
    color: white;
    margin: 0 auto;

}
.main {
    background-image: url(../images/back-image.png);
    background-repeat: no-repeat;
    background-size: 428px ;
    background-position: top center;
    overflow: hidden;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.none {
    display: none;
}
.button {
    border-radius: 100px;
    position: relative;
    outline: none;
    border: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.button:hover {
    top: 1px;
}
.start-course {
    color: white;
    background-repeat: no-repeat;
    display: grid; 
    justify-items: center;
    background-image: url(../icons/header-svg.svg);
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    place-items: center;
    position: relative;
    width: 90px;
    height: 74px;
    margin-left: 46px;
}
.header-wrapper {
    display: flex;
    max-width: 428px;
    margin: 0 auto;
    position: relative;
}
.start-number {
    position: absolute;
    top: 50%;
    transform: translateY(-49%);
    right: 10px;
    grid-area: 1 / 1 / 3 / 2;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
} 
.start-month {
    position: absolute;
    bottom: 4px;
    left: -10px;
    grid-area: 1 / 2 / 2 / 3;
    font-family: 'ALS Klementina', sans-serif;
    font-size: 10px;
} 
.start-text {
    position: absolute;
    top: -3px;
    left: -10px;
    grid-area: 2 / 2 / 3 / 3;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}



.duration, .format {
    margin: 0;
}
.duration {
    width: 80px;
    margin-left: 36px;
}
.format {
    margin-left: 33px;
}
.duration-title, .format-title {
    margin-top: 18px;
    font-size: 8px;
    top: 8px;
}
.duration-subtitle, .format-subtitle {
    margin-top: 5px;
    font-size: 15px;
    top: 17px;
    text-transform: uppercase;
}


.lang-bar {
    width: 50px;
    position: absolute;
    left: 70px;
    top: 96px;
    z-index: 1000;
}
.lang-bar select {
    background-color: transparent;
    color: white;
    padding: 17px 0 0 10px;
    width: 44px;
    height: 44px;
    border: 2px solid #292929;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 10px;
  }
  
  .lang-bar select option {
    padding: 30px;
  }
  .lang-bar::before {
    content: "⟩";
    font-family: FontAwesome;
    position: absolute;
    transform: rotate(90deg);
    top: -8px;
    left: 20px;
    width: 10%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    transition: 0.3s ease;
  }
  
  .lang-bar:hover::before {
    top: -5px;
  }
/* ---- hero wrapper ----- */

.hero-wrapper {
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.hero .instagram {
    height: 61px;
    width: 174px;
    position: relative;
}
.hero .instagram .subscribers {
    width: 63px;
    margin: 0 auto;
    position: relative;
}
.hero .instagram .subscribers span {
    background-color: rgba(255, 120, 152, 1);
    padding: 2px 15px;
    text-align: center;
    border-radius: 100px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    line-height: 23px;
  
    position: absolute;
    z-index: 2;
}
.hero .instagram a {
    background: linear-gradient(67.83deg, rgba(200, 200, 200, 0.2) 3.52%, rgba(86, 86, 86, 0.2) 99.38%);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
}
.hero h1 {
    margin: 15px 0 0 0;
    font-family: 'ALS Klementina';
    font-size: 48px;
    line-height: 46.57px;
    font-weight: 400;
    text-align: center;
}
.hero-subtitle {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0 0 0;
}

/* ---- result wrapper ---- */
.results {
    width: 100%;
}
.result-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    margin: 48px auto 0;
}
.results-wrapper h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
    font-size: 80px;
    text-align: center;
    margin-top: 120px;
}
.result-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
#item-1 {
    width: 108px;
}
#item-2 {
    width: 144px;
}
.result-done {
    width: 21px;
    height: 21px;
    background: linear-gradient(63.77deg, #FF7898 28.74%, #FFB3C0 107.82%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.result-desc {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* letter-spacing: 0.04rem; */
    transform: translateY(-15%);
    text-align: center;
    margin-top: 25px;
}
.result-icon {
    position: relative;
}
.result-done {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.dots {
    display: flex;
    margin-top: 22px;
    justify-content: center;
    gap: 0 7px;
}
.dot {
    width: 4px;
    height: 4px;
    background-color: #FF7898;
    border-radius: 50%;
}
.results-wrapper p {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin-top: 18px;
}
.result-btn {
    padding: 10px 20px;
    background-color: #FF7898;
    display: block;
    margin: 48px auto 0;
    text-transform:none;
}

/* --- salon wrapper --- */

.salon h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
    text-align: center;
    margin: 17px 0 0 0
}
.salon-desc {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 337px;
    margin: 18px auto 0;
}
.salon-image {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 336px;
    margin: 25px auto 0;
    border-radius: 10px;
}
.salon-image img {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.salon-image .access {
    position: absolute;
    bottom: -30px;
    left: -12px;
    border-radius: 10px 10px 10px 10px;
}

.salon-desc-title, .salon-desc-subtitle {
    position: absolute;
    top: 0;
    left: 0;
}
.salon-desc-title {
    font-family: 'Manrope';
    font-size: 8px;
    font-weight: 500;
    top: 26px;
    left: 25px;
}
.salon-desc-subtitle {
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 700;
    top: 32px;
    left: 20px;
    line-height: 10px;
}
.salon-btn {
    background-color: #FF7898;
    padding: 23px 39px 28px;
    border-radius: 9px;
    display: block;
    margin: 29px auto 0;
    align-items: center;

    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.08rem;
    
    color: #FFFFFF;
}
.salon-btn img {
    transform: translateY(3px);
    color: white;
}

/* ---- course wrapper ---- */
.course h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
    text-align: center;
    margin: 48px 0 0 0
}
.course-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.course-card {
    width: 337px;
    height: 194px;
    position: relative;
    margin: 9px auto;
}
.course-card:nth-of-type(3) .course-card-desc {
    height: 173px;
    bottom: -16px;
}
.course-card:nth-of-type(3) .course-card-desc span {
    transform: translateY(7px);
    letter-spacing: 0.05rem;
}
.course-card-number {
    width: 69px;
    height: 69px;
    position: relative;
    margin: 0 auto;
    z-index: 3;
}
.course-card-number span {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 40px;
}
.course-card-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(52.7deg, #1F1F1F 8.37%, #2D2D2D 81.06%);
    border: 1px solid #7B7B7B;
    border-radius: 10px;
    height: 160px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04rem;
}

/* --- study wrapper --- */

.study h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
    text-align: center;
    margin: 50px 0 0 0
}
.study-list {
    width: 295px;
    background: linear-gradient(52.7deg, #1F1F1F 8.37%, #2D2D2D 81.06%);
    border: 1px solid #7B7B7B;
    border-radius: 10px;
    margin: 15px auto 0;
    position: relative;
    border-radius: 10px;
    padding: 35px 20px;
    
}
.study-list::after {
    position: absolute;
    content: "";
    width: 341px;
    height: calc(100% - 18px);
    background: linear-gradient(63.77deg, #FF7898 28.74%, #FFB3C0 107.82%);
    border-radius: 10px;
    z-index: -1;
    left: -3px;
    top: 10px;
}
.study-list li {
    margin-left: 10px;
    padding-inline-start: 6px;
    list-style-image: url(../icons/dot-li.svg);
    list-style-position: outside;
}
 li +  li {
    margin-top: 13px;
}


/* ----- how-ed ----- */


.how-ed h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
    text-align: center;
    margin: 56px 0 0 0;
    line-height: 1;
}
.how-ed-list {
    position: relative;
    padding: 0;
    width: 350px;
    margin: 22px auto 0;
}
.how-ed-list li {
    padding: 0 30px;
    width: 100%;
    list-style-image: none;
    list-style-type: none;
    background: url(../icons/dot-how-ed-svg.svg) no-repeat 0 2px;
    align-items: center;
    position: relative;
    line-height: 20px;
}
.how-ed-list li + li {
    margin-top: 16px;
}
.how-ed-list li:nth-of-type(6) {
    background: url(../icons/star-icon.svg) no-repeat 3px 2px !important;
    margin-top: 28px;
    color: rgba(255, 240, 159, 1);
}
.how-ed-list li::marker {
    position: absolute;
    top: 0;
    left: 0;
}
.how-ed-wrapper img {
    margin: 45px 0 0 60%;
    transform: translateX(-50%);
}
.help-banner {
    width: 337px;
    height: 137px;
    position: relative;
    top: -120px;
    margin: 0 auto;
    text-transform: uppercase;
}
.help-icon {
    background-color: #FF7898;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 4;
    margin: 0 auto;
}
.help-icon img {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}
.help-desc {
    background-image: url(../images/bg-phones.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 119px;
    position: absolute;
    bottom: 0;
}
.help-desc p {
    margin-top: 40px;
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.04rem;
    color: #141414;
    text-align: center;
}

/* ---- cost wrapper ---- */

.cost h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
    text-align: center;
    margin: -72px 0 0 0
}
.price-banner {
    margin: 16px auto 0;
    width: 335px;
    height: 198px;
    background: linear-gradient(52.7deg, #1F1F1F 8.37%, #2D2D2D 81.06%);
    border: 1px solid #7B7B7B;
    border-radius: 10px;
    position: relative;
}
.old-price {
    position: absolute;
    font-family: 'Bebas Neue';
    font-weight: 700;
    font-size: 40px;
    color: #AAAAAA;
    text-align: center;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.old-price span {
    font-weight: 700;

    font-family: 'Bebas Neue';
}
.old-price::after {
    content: "";
    width: 100%;
    height: 2px;
    transform: rotate(-13deg);
    background-color: red;
    position: absolute;
    top: 17px;
    left: 0;
}
.new-price {
    margin: 0;
    position: absolute;
    top: 71px;
    left: 21px;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 100px;
    background: linear-gradient(63.77deg, #FF7898 28.74%, #FFB3C0 107.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.new-price span {
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;

    font-family: 'Bebas Neue';
}
.cost-btn {
    padding: 23px 40px 28px;
    border-radius: 10px;
    background-color: #FF7898;
    align-items: center;
    text-transform: uppercase;
    display: block;
    margin: 30px auto 0;

    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.08rem;

    
}
.cost-btn img {
    transform: translateY(3px);
}

/* ---- works wrapper ---- */
.works-wrapper {
    position: relative;
    max-width: 414px;
    margin: 0 auto;
}

.works h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
    text-align: center;
    margin: 45px 0 0 0
}

/* slider */

.swiper {
    width: 357px;
    height: 428px;
    margin: 20px auto;
}
.swiper-wrapper {
    width: 337px !important;
    position: relative;
    gap: 20px;
}
.swiper-slide {
    width: 337px !important;
    border: 9px;
    left: 10px;
}
.swiper-button-prev, .swiper-button-next {
    width: 56px;
    height: 56px;
    background: linear-gradient(52.7deg, #B5B5B5 8.37%, #FFFFFF 81.06%);
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    top: 57%;
}
.swiper-button-prev::after, .swiper-button-next::after {
    display: none;
}

/* --- footer --- */

.footer-wrapper {
    max-width: 428px;
    margin: 0 auto;
}

.footer h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    background: linear-gradient(111.7deg, #585858 0.34%, #F5F5F5 31.52%, #DBDBDB 60.77%, #605F5F 92.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 40px;
    text-align: center;
    margin: 45px 0 0 0
}
.contacts-menu {
    margin: 19px 0 0 5px;
}
.contacts-menu li {
    letter-spacing: 0.03rem;
    list-style-type: none;
}
.contacts-menu li + li {
    margin-top: 5px;
}
.contacts-menu li a {
    text-decoration: none;
    color: white;
}
.policy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 28px 0 50px 45px;
    width: 337px;

}
.policy a {
    color: #8B8B8B;
}
.policy a + a {
    margin-top: 4px;
}


.hide {
    display: none;
}

.loader {
    width: 100vw;
    height: 300vw;
    display: flex;
    justify-content: center;
    background-color: #292929;
    text-align: center;
  }
  
.loader  p {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-family: arial;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
  
  .loader  p:nth-child(1) {
    animation: var(--effect);
  }
  
  .loader  p:nth-child(2) {
    animation: var(--effect) .125s;
  }
  
  .loader  p:nth-child(3) {
    animation: var(--effect) .25s;
  }
  
  .loader p:nth-child(4) {
    animation: var(--effect) .375s;
  }
  
  .loader p:nth-child(5) {
    animation: var(--effect) .5s;
  }
  
  .loader p:nth-child(6) {
    animation: var(--effect) .675s;
  }
  
  .loader p:nth-child(7) {
    animation: var(--effect) .75s;
  }
  
  @keyframes hover {
    0% {
      color: #121212;
    }
  
    20% {
      color: pink;
      filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px red)drop-shadow(0 0 5px red)hue-rotate(10turn);
    }
  
    50% {
      color: #121212;
    }
  
  
  }